<h1>TOMMYGUCCI</h1>

<form action="/startup" method="post">
  <input type="text" name="name" placeholder="Enter a name for your Tommygucci pet">
  <button type="submit">Tommygucci Go!</button>
</form>
